SITE_NAME=hello
SITE_BASEURL=site.tld
SITE_URLS=${SITE_NAME}.${SITE_BASEURL}
CONTAINER_IMAGE=docker.io/nginxdemos/hello:latest
CONTAINER_DATADIR=/var/www/html
CONTAINER_PORT=80
HOST_PORT=50200
CADDYFILE_TEMPLATE=$(cat <<-EOM
${SITE_URLS} {
    reverse_proxy localhost:${HOST_PORT}
    encode gzip zstd
    basicauth / {
        ${SITE_NAME} JDJhJDE0JFJySnphYng5UUxLYUlpdG1RVmZmS2VCUUE1VnFSTURWT2lCYnhVNXdTbkxCU1JTNS95eUVD
    }
    log {
        output file /var/log/caddy/${SITE_NAME}.log
    }
}
EOM
)
